.section-outline {
  outline: 1px solid tomato;

  height: 200px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: black;
}

.black-bgc {
  padding: 20px;
  background-color: black;
}

.light-theme {
  color: var(--main-dark-text-color);
  background-color: var(--main-light-color);
};