:root {
  --accent-color: #f87719;
  --main-dark-color: #111111;
  --main-light-color: #ffffff;
  --main-dark-text-color: #282828;
  --main-light-text-color: #f8f8f8;
  --secondary-light-text-color: #595959;
  --secondary-dark-text-color: #b7b7b7;
  --header-bg-color: #000000;
  --modal-box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);

  --btn-gradient: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  --stars-gradient: linear-gradient(
    141.22deg,
    #f84119 9.4%,
    rgba(248, 159, 25, 0.68) 91.91%
  );

  --card-shadow: 1px 1px 24px 2px rgba(1, 1, 1, 0.45);
}

// breakpoints

// $mobile-max: 319px;
// $mobile-min: 320px;
// $tablet-max: 767px;
// $tablet-min: 768px;
// $desktop-max: 1279px;
// $desktop-min: 1280px;
