<section class="catalog">
  <h2 class="visually-hidden">Catalog</h2>
  <form class="search-form" id="search-form">
    <input
      class="search-form__input js-theme"
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search movies..."
      required
      oninvalid="this.setCustomValidity('Please fill field')"
      oninput="setCustomValidity('')"
    />
    <button type="submit" class="btn-search">
      <svg class="search-form__icon js-theme">
        <use href="./images/sprite.svg#icon-search"></use>
      </svg>
    </button>
  </form>
  <ul class="movie-gallery__list"></ul>
  <div class="movie-gallery__message js-theme"></div>
  <!-- ==============Pagination===================== -->
  <div id="tui-pagination-container" class="tui-pagination js-theme"></div>
</section>
