<section class="catalog">
  <form class="search-form" id="search-form">
    <input
      class="search-form__input"
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search movies..."
    />
    <button type="submit" class="btn-search"></button>
  </form>
  <ul class="movie-gallery__list">
    <li class="movie-gallery__item">
      <a href="" class="movie-gallery__link">
        <img src="./images/movieimg.jpg" alt="movie" width="280" />
      </a>
      <div class="movie-gallery__thumb">
        <div class="movie-gallery__info">
          <p class="movie-gallery__name">GHOSTED</p>
          <p class="movie-gallery__genre">Drama | 2023</p>
        </div>
        <p class="movie-gallery__range">
          <img src="./images/range.png" alt="range" />
        </p>
      </div>
    </li>
    <li class="movie-gallery__item">
      <a href="" class="movie-gallery__link">
        <img src="./images/movieimg.jpg" alt="movie" width="280" />
      </a>
      <div class="movie-gallery__thumb">
        <div class="movie-gallery__info">
          <p class="movie-gallery__name">GHOSTED</p>
          <p class="movie-gallery__genre">Drama | 2023</p>
        </div>
        <p class="movie-gallery__range">
          <img src="./images/range.png" alt="range" />
        </p>
      </div>
    </li>
    <li class="movie-gallery__item">
      <a href="" class="movie-gallery__link">
        <img src="./images/movieimg.jpg" alt="movie" width="280" />
      </a>
      <div class="movie-gallery__thumb">
        <div class="movie-gallery__info">
          <p class="movie-gallery__name">GHOSTED</p>
          <p class="movie-gallery__genre">Drama | 2023</p>
        </div>
        <p class="movie-gallery__range">
          <img src="./images/range.png" alt="range" />
        </p>
      </div>
    </li>
  </ul>
</section>
