<section class="catalog">
  <form class="search-form" id="search-form">
    <input
      class="search-form__input js-theme"
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search movies..."
      required
      oninvalid="this.setCustomValidity('Please fill field')"
      oninput="setCustomValidity('')"
    />
    <div class="dropdown">
      <button type="button" class="dropdown-btn">YEAR</button>
      <ul class="dropdown__list">
        <li class="dropdown__item">2023</li>
        <li class="dropdown__item">2022</li>
        <li class="dropdown__item">2021</li>
        <li class="dropdown__item">2020</li>
        <li class="dropdown__item">2019</li>
        <li class="dropdown__item">2018</li>
        <li class="dropdown__item">2017</li>
        <li class="dropdown__item">2016</li>
        <li class="dropdown__item">2015</li>
        <li class="dropdown__item">2014</li>
        <li class="dropdown__item">2013</li>
        <li class="dropdown__item">2012</li>
      </ul>
      <input type="text" name="selectYear" value="" class="year-value" />
    </div>
    <button type="submit" class="btn-search">
      <svg class="search-form__icon js-theme">
        <use href="./images/icons.svg#icon-search"></use>
      </svg>
    </button>
  </form>
  <ul class="movie-gallery__list"></ul>
  <div class="movie-gallery__message js-theme"></div>
  <!-- ==============Pagination===================== -->
  <div id="tui-pagination-container" class="tui-pagination js-theme"></div>
</section>
