<div class="black-bgc">
  <button type="button" class="btn btn-main">Load more</button>
  <button type="button" class="btn btn-main">Search movie</button>
  <button type="button" class="btn btn-main btn-main__hero">
    Watch trailer
  </button>
  <button type="button" class="btn btn-main btn-main__upcoming">
    Remind me
  </button>

  <button type="button" class="btn btn-lib">Add to my library</button>

  <button type="button" class="btn-search">O</button>
</div>
<div style="padding: 20px; background-color: #fff">
  <button type="button" class="btn btn-lib btn-lib__light">
    Add to my library
  </button>
  <button type="button" class="btn-search btn-search__light">O</button>
</div>
