<section class="hero">
  <h1 class="visually-hidden">Movie World</h1>
  <div class="swiper">
    <div class="swiper-wrapper"></div>
    <div class="swiper-pagination js-theme"></div>
    <div class="swiper-button-prev js-theme"></div>
    <div class="swiper-button-next js-theme"></div>
  </div>
</section>
<button id="myBtn" class="back-to-top js-theme" title="Go to top">
  <svg class="back-to-top__icon" width="20" height="20">
    <use href="./images/sprite.svg#icon-small-arrow"></use>
  </svg>
</button>
