<div class="mobile-menu js-theme" id="mobile-menu">
	<div class="mobile-menu__icon">
		<a href="./index.html">
			<img src="./images/logo-mobile_32.svg" class="header__logo" alt="logo" width="32" height="32" />
		</a>
	</div>

	<ul class="mobile-menu__nav">
		<li class="mobile-menu__item">
			<a href="./index.html" class="mobile-menu__link js-theme">Home</a>
		</li>
		<li class="mobile-menu__item">
			<a href="./page-catalog.html" class="mobile-menu__link js-theme">Catalog</a>
		</li>
		<li class="mobile-menu__item">
			<a href="./page-my-library.html" class="mobile-menu__link js-theme">My library</a>
		</li>
	</ul>
</div>