<div class="trailer-modal hidden">
  <div class="modal-content">
    <button class="close-btn__svg" onclick="closeTrailerModal()">
      <svg>
        <use href="./images/icons.svg#modaltrailerclose"></use>
      </svg>
    </button>

    <div class="modal-body">
      <div class="movie-container"></div>
      <iframe
        class="trailer-element"
        frameborder="0"
        allowfullscreen
        allow="autoplay"
      ></iframe>
      <div class="no-video-msg"></div>
    </div>
  </div>
</div>
