<div class="modal-movie__backdrop js-backdrop">
    <div class="modal-movie container .js-theme"> 
        <div>
            <button class="modal-movie__button-colse" type="button" data-action="close-modal-movie">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none">
                    <path stroke="#F8F8F8" stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25.75.75m10.5 0L.75 11.25"/>
                </svg>
            </button>
        </div>
    </div>
</div>