<div class="backdrop-modal js-hidden" id="modal-team">
	<form class="modal-team js-theme">
		<h2 class="modal-team__header js-theme">Developers</h2>

		<div class="modal-team__galery">
			<button data-modal-down type="button" class="modal-team__btn-galery">
				<svg class="modal-team__icon" width="20" height="20">
					<use href="./images/left.svg"></use>
				</svg>
			</button>
			<ul class="modal-team__card">

				<li class='modal-team__dev'>
					<img src='./images/mobile-1x.jpg' width='180' alt='dev'>
					<div class="modal-team__dev-info">
						<h3 class="modal-team__dev-head js-theme">NAME</h3>
						<p class="modal-team__dev-text js-theme">Developer</p>
					</div>
				</li>

			</ul>
			<button data-modal-up type="button" class="modal-team__btn-galery">
				<svg class="modal-team__icon" width="20" height="20">
					<use href="./images/right.svg"></use>
				</svg>
			</button>
		</div>

		<button data-modal-close type="button" class="modal-team__close-btn js-theme js-close-modal-team">
			<svg class="modal-team__icon" width="40" height="40">
				<use href="./images/logo-mobile_32.svg"></use>
			</svg>
		</button>
	</form>
</div>

<script src="./js/galery-student.js"></script>
<script src="./js/team.js" type="module"></script>
<script src="./js/modal-students.js"></script>