<div class="backdrop-modal js-hidden" id="modal-team">
	<form class="modal-team js-theme">
		<h2 class="modal-team__header js-theme">Team</h2>

		<div class="modal-team__galery">
			<button data-modal-down type="button" class="modal-team__btn-galery modal-team__btn js-theme">
				<svg class="modal-team__icon" width="40" height="40">
					<use href="./images/svg-students.svg#icon-scroll-left"></use>
				</svg>
			</button>
			<ul class="modal-team__card">

				<li class='modal-team__dev'>
					<div class='modal-team__img'>
						<img src='./images/our-team/dev4.png' width='180' alt=''>
					</div>
					<div class="modal-team__dev-info">
						<h3 class="modal-team__dev-head js-theme">NAME</h3>
						<p class="modal-team__dev-text js-theme">Developer</p>
					</div>
				</li>

			</ul>
			<button data-modal-up type="button" class="modal-team__btn-galery modal-team__btn js-theme">
				<svg class="modal-team__icon" width="40" height="40">
					<use href="./images/svg-students.svg#icon-scroll-right"></use>
				</svg>
			</button>
		</div>

		<button data-modal-close type="button" class="modal-team__btn-close modal-team__btn js-theme js-close-modal-team">
			<svg class="modal-team__icon" width="40" height="40">
				<use href="./images/svg-students.svg#icon-close-light"></use>
			</svg>
		</button>
	</form>
</div>