<style>
  .trailer-modal {
    position: relative;
    background-color: #111111;
    width: 700px;
    height: 400px;
    /* left: 290px;
    top: 190px; */

    overflow: auto;
    box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
    border-radius: 20px;
  }

  .close-btn {
    color: #aaaaaa;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 648px;
    top: 28px;
  }
  .close-btn:hover,
  .close-btn:focus {
    color: #111111;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-body {
    display: flex;
    flex-direction: row;
  }
  .movie-img {
    position: absolute;
    width: 363px;
    height: 318px;
    left: 337px;
    top: 77px;
  }
  .no-video-msg {
    position: absolute;
    height: 100px;
    width: 321px;
    left: 50px;
    top: 150px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;

    color: #ffffff;
  }
  p {
    margin: 0;
    padding: 0;
  }
</style>
<div class="trailer-modal">
  <button class="show-trailer-btn" data-movie-id="QWdljFroAz8">
    Show trailer
  </button>
  <div class="modal-content">
    <button class="close-btn"><i class="fas fa-times"></i></button>
    <div class="modal-body">
      <div class="movie-container">
        <img class="movie-img" src="./IMG_9881 1.png" alt="no Traler" />
      </div>
    </div>
    <div class="video-container">
      <iframe class="trailer" frameborder="0" allowfullscreen></iframe>
      <div class="no-video-msg">
        <div class="wrapper">
          <p>OOPS...</p>
          <p>We are very sorry!</p>
          <p>But we couldn't find the trailer.</p>
        </div>
      </div>
    </div>
  </div>
</div>
