<section class="my-library">
  <h2 class="visually-hidden">My Library</h2>
  <div class="no-movies-message library-isHidden">
    <p class="my-library__message js-theme">
      OOPS...<br />
      We are very sorry!<br />
      You don’t have any movies at your library.
    </p>
    <a
      href="./page-catalog.html"
      class="btn btn-main btn-library search-library-link"
      >Search movie</a
    >
  </div>

  <ul class="movie-gallery__list"></ul>
  <button type="button" class="btn btn-main btn-loadMore library-isHidden">
    Load more
  </button>
</section>
