<section class="my-library">
  <p class="my-library__message">
    OOPS...<br />
    We are very sorry!<br />
    You don’t have any movies at your library.
  </p>
  <button type="button" class="btn btn-main btn-library">Search movie</button>

  <ul class="gallery">
    <li class="gallery__item">picture</li>
    <li class="gallery__item">picture</li>
    <li class="gallery__item">picture</li>
    <li class="gallery__item">picture</li>
    <li class="gallery__item">picture</li>
    <li class="gallery__item">picture</li>
  </ul>
</section>
