<section class="section-upcoming js-theme">
  <h2 class="upcoming-title js-theme">upcoming this month</h2>
  <div class="box">
    <div class="box-image">
      <picture>
        <source
          srcset="./images/mobile-1x.jpg 1x, ./images/mobile-2x.jpg 2x"
          media="(max-width:767px)"
        />
        <source
          srcset="./images/tablet-1x.jpg 1x, ./images/tablet-2x.jpg 2x"
          media="(max-width:1279px)"
        />
        <source
          srcset="./images/desctop-1x.jpg 1x, ./images/desctop-2x.jpg 2x"
          media="(min-width:1280px)"
        />
        <img
          srcset="./images/desctop-1x.jpg 1x, ./images/desctop-2x.jpg 2x"
          src="./images/desctop-1x.jpg"
          alt="upcoming-film"
          width="805"
          height="458"
          class="upcoming-image"
        />
      </picture>
    </div>
    <div class="box-info">
      <h2 class="upcoming__film-title js-theme">THE LOST CITY</h2>
      <!--   @media screen and (min-width: 768px) {display: none} -->
      <div class="upcoming__film-info">
        <ul>
          <li class="upcoming__info-item">Release date</li>
          <li class="upcoming__info-item">Vote / Votes</li>
          <li class="upcoming__info-item">Popularity</li>
          <li class="upcoming__info-item">Genre</li>
        </ul>
        <ul class="upcoming__wrapper-info-value">
          <li class="upcoming__info-value">
            <span class="upcoming__item-data">03.03.2023</span>
          </li>
          <li class="upcoming__info-value">
            <span class="upcoming__info-vote js-theme">7.3</span>
            /
            <span class="upcoming__info-votes js-theme">1260</span>
          </li>
          <li class="upcoming__info-value">
            <span class="popularity-value js-theme">99.9</span>
          </li>
          <li class="upcoming__info-value">
            <span class="ganre-value js-theme">Comedy, action</span>
          </li>
        </ul>
      </div>
      <!-- TABLET -->
      <div class="upcoming__information">
        <ul class="upcoming__info-list">
          <li class="upcoming__info-item">Release date</li>
          <li class="upcoming__info-item">Vote / Votes</li>
        </ul>
        <ul class="info-list">
          <li class="upcoming__info-value">
            <span class="upcoming__item-data">03.03.2023</span>
          </li>
          <li>
            <span class="upcoming__info-vote js-theme">7.3</span>
            /
            <span class="upcoming__info-votes js-theme">1260</span>
          </li>
        </ul>
        <ul class="info-list">
          <li class="upcoming__info-item">Popularity</li>
          <li class="upcoming__info-item">Genre</li>
        </ul>
        <ul class="info-list">
          <li class="upcoming__info-value">
            <span class="popularity-value js-theme">99.9</span>
          </li>
          <li class="upcoming__info-value">
            <span class="ganre-value js-theme">Comedy, action</span>
          </li>
        </ul>
      </div>

      <h2 class="upcoming__about-title">ABOUT</h2>
      <p class="upcoming__about-text light-theme-text js-theme">
        Reclusive author Loretta Sage writes about exotic places in her popular
        adventure novels that feature a handsome cover model named Alan. While
        on tour promoting her new book with Alan, Loretta gets kidnapped by an
        eccentric billionaire who hopes she can lead him to an ancient city's
        lost treasure from her latest story. Determined to prove he can be a
        hero in real life and not just on the pages of her books, Alan sets off
        to rescue her.
      </p>
      <button type="button" class="btn btn-main">Remind me</button>
    </div>
  </div>
</section>
