<section class="weekly-trends js-theme">
<div class="title-grup">
    <h3 class="title-grup__name">WEEKLY TRENDS</h3>
    <a href="./page-catalog.html" class="title-grup__link" >See all</a>
</div>
<div class="main-container">
    <ul class="films-list">
        <!-- <li class="item" id="#">
            <div class="item__image-box">
                <img src="#" alt="#" />
                <div class="item__image-containet">
                <p class="item__text">Film name </p>
                <p class="item__text-color">Genres | Year</p>
                </div>
                <div class="item__icon">
                    <svg class="item__svg" widht="86" height="14">
                        <use href="./images/symbol-defs.svg#icon-Frame-75-1"></use>
                    </svg>
                </div>
            </div>
        </li> -->
    </ul>
</div>
</section>
