.btn {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;

  border-radius: 74px;
}

.btn-main {
  color: var(--main-dark-color);

  background: var(--btn-gradient);

  border: 1px solid var(--accent-color);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.56;
  }

  &:hover {
    color: var(--accent-color);

    background: var(--main-light-color);

    border: 1px solid var(--accent-color);
  }

  &__hero {
    @media screen and (min-width: 1280px) {
      font-size: 16px;
      line-height: 1.5;
    }
  }

  &__upcoming {
    line-height: 1.33;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.14;
    }
  }
}

.btn-lib {
  font-weight: 500;

  color: var(--main-light-color);

  background-color: transparent;

  border: 1px solid var(--accent-color);

  @media screen and (min-width: 768px) {
    line-height: 1.33;
  }

  &:hover {
    color: var(--accent-color);
    background-color: var(--main-light-color);

    border-color: var(--main-light-color);
  }

  &__light {
    color: var(--main-dark-color);

    &:hover {
      color: var(--accent-color);

      background-color: var(--main-dark-color);

      border-color: var(--main-dark-color);
    }
  }
}

.btn-search {
  width: 40px;
  height: 40px;

  // padding: 14px;

  // color: var(--main-light-color);

  background: var(--btn-gradient);

  border-radius: 50%;
  border: none;

  @media screen and (min-width: 768px) {
    width: 44px;
    height: 44px;
  }

  @media screen and (min-width: 1280px) {
    width: 48px;
    height: 48px;
  }

  &:hover {
    background: var(--main-light-color);

    border: 1px solid var(--accent-color);

    color: var(--accent-color);
  }

  &__light {
    color: var(--main-dark-color);
  }
}
