.mobile-menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 64vw;
	height: 100vh;

	padding-top: 8px;
	padding-left: 20px;
	z-index: 999;

	transform: translateX(-100vw);
	transition: transform 500ms ease-in-out;

	display: flex;
	flex-direction: column;

	background-color: #171717;

	@media screen and (min-width: 767px) {
		display: none;
	}

	&__icon {
		width: 32px;
		height: 32px;
	}

	&__nav {
		display: flex;
		flex-direction: column;
		align-items: left;

		padding-top: 40px;
		margin: 0;
	}

	&__link {

		line-height: 1.14;
		color: var(--main-light-color);
		text-transform: uppercase;
	}
}

.mobile-menu__item:not(:last-child) {
	margin-bottom: 24px;
}

// .mobile-menu.is-open {
// 	transform: translateX(0%);
// }

// .mobile-menu.is-light {
// 	background-color: #fff;
// }

// .mobile-menu__link.is-light {
// 	color: var(--main-dark-color);
// }

.mobile-menu__link {
	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}