.movie-gallery__item {
  margin-bottom: 16px;

  position: relative;

  border-radius: 5px;
  overflow: hidden;

  width: 280px;
  height: 406px;

  @media screen and (min-width: 768px) {
    width: 224px;
    height: 325px;

    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    width: 395px;
    height: 574px;
  }
}

.movie-gallery__wrap {
  height: 100%;
  width: 100%;
}

.movie-gallery__image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.movie-gallery__thumb {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;

  font-size: 12px;
  line-height: 1.67;
  font-weight: 500;

  @media screen and (min-width: 768px) {
    line-height: 1.5;
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.15;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 63.48%,
    rgba(0, 0, 0, 0.9) 92.16%
  );
}

.movie-gallery__name {
  max-width: 180px;
  margin-bottom: 5px;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    max-width: 130px;
    margin-bottom: 7px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 225px;
    margin-bottom: 10px;
  }

  color: var(--main-light-color);
}

.movie-gallery__year {
  color: var(--secondary-dark-text-color);
}

.movie-gallery__range--size {
  width: 86px;

  @media screen and (min-width: 768px) {
    width: 66px;
  }

  @media screen and (min-width: 1280px) {
    width: 106px;
  }
}
