.catalog {
  padding-top: 20px;
  padding-bottom: 20px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }
}

.search-form__input {
  width: 224px;
  height: 40px;
  font-weight: 500;
  line-height: 1.14;

  margin-right: 16px;
  padding: 10px 20px;

  background-color: var(--main-dark-color);
  color: var(--secondary-dark-text-color);

  border: 1px solid #ffffff;
  border-radius: 8px;
  outline: none;

  @media screen and (min-width: 768px) {
    height: 44px;
  }

  @media screen and (min-width: 1280px) {
    width: 334px;
    height: 48px;
  }
}

.btn-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-gallery__list {
  @media screen and (min-width: 768px) {
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
    grid-auto-rows: 325px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: grid;
  }

  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    grid-auto-rows: 574px;
  }
}

.movie-gallery__item {
  margin-bottom: 16px;

  position: relative;

  border-radius: 5px;
  overflow: hidden;

  width: 280px;
  height: 406px;

  @media screen and (min-width: 768px) {
    width: 224px;
    height: 325px;

    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    width: 395px;
    height: 574px;
  }
}

.movie-gallery__wrap {
  height: 100%;
  width: 100%;
}

.movie-gallery__image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.movie-gallery__thumb {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;

  font-size: 12px;
  line-height: 1.67;
  font-weight: 500;

  @media screen and (min-width: 768px) {
    line-height: 1.5;
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.15;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 63.48%,
    rgba(0, 0, 0, 0.9) 92.16%
  );
}

.search-form__icon {
  width: 18px;
  height: 18px;
  stroke: currentColor;
  fill: currentColor;

  @media screen and (min-width: 1280px) {
    width: 20px;
    height: 20px;
  }
}

.movie-gallery__name {
  margin-bottom: 5px;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    margin-bottom: 7px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 10px;
  }

  color: var(--main-light-color);
}

.movie-gallery__year {
  color: var(--secondary-dark-text-color);
}
