.catalog {
  padding-top: 20px;
  padding-bottom: 20px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }
}

.search-form__input {
  width: 224px;
  height: 40px;
  font-weight: 500;
  line-height: 1.14;

  margin-right: 16px;
  padding: 10px 20px;

  background-color: var(--main-dark-color);
  color: var(--secondary-dark-text-color);

  border: 1px solid var(--main-light-color);
  border-radius: 8px;
  outline: none;

  @media screen and (min-width: 768px) {
    height: 44px;
  }

  @media screen and (min-width: 1280px) {
    width: 334px;
    height: 48px;
  }
}

.search-form__input.light-theme {
  border: 1px solid var(--secondary-light-text-color);
  background-color: var(--main-light-color);
}

.btn-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-search:hover {
  .search-form__icon {
    fill: var(--accent-color);
  }
}

.search-form__icon {
  width: 18px;
  height: 18px;
  stroke: none;
  fill: var(--main-light-color);
  @media screen and (min-width: 1280px) {
    width: 20px;
    height: 20px;
  }
}

.search-form__icon.light-theme {
  fill: var(--main-dark-color);
}

.movie-gallery__message {
  text-align: center;
  margin-top: 48px;

  font-size: 20px;
  line-height: 1.4;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.33;
  }

  @media screen and (min-width: 1280px) {
    font-size: 32px;
    line-height: 1.12;
  }
}
