.container-section {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    @media screen and (min-width: 768px) {
        max-width: 768px;
        padding: 0 32px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 1280px;
    }
};
// #############################

.header {
    outline: 1px solid red;
    &__container {
        @extend .container-section;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    &__navigation {
        display: flex;
        align-items: center;
    }
};
.logo {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-right: 60px;
    }
    &__text {
        display: none;
        @media screen and (min-width: 768px) {
            display: inline;
            // text-transform: uppercase;
            font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 1.16;
                display: flex;
                align-items: center;
                text-align: center;
        
                flex: none;
                order: 1;
                flex-grow: 0;
            color: var(--main-light-color);
        }
    }
};
.nav-list {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        gap: 32px;

        &__item a {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;

            display: flex;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
                /* Grey */
            color: var(--secondary-dark-text-color);
            flex: none;
            order: 0;
            flex-grow: 0;
            transition: color 200ms ease-in-out;

            &:hover {
                    color: var(--accent-color);
                }
        }
    }
}
.navModal-button{
    color: inherit;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    color: var(--secondary-dark-text-color);

    @media screen and (min-width: 768px) {
        display: none;
    }
}; 