.my-library{
    padding: 44px 20px 0px;

    @media screen and (min-width: 768px) {
        padding: 80px 32px 0px;
    }
    
    @media screen and (min-width: 1280px) {
        padding: 117px 32px 0px;
    }
}

.my-library__message{
    margin-bottom: 20px;
    

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4; 
    text-align: center;    
    color: var(--main-light-color);

    @media screen and (min-width: 768px) {
        font-size: 24px;
        line-height: 1.33;
    }
    
    @media screen and (min-width: 1280px) {
        font-size: 32px;
        line-height: 1.12;
    }
}

.my-library__message--light{
    color: var(--main-dark-color);
}

.btn-library{
    display: block;
    margin: 0 auto;    
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    // margin-left: -16px;
    margin-top: -16px;
    justify-content: center;

    @media screen and (min-width: 768px){
        margin-left: -16px;
        margin-top: -28px;
    }
    @media screen and (min-width: 1280px) {
        margin-top: -32px;
    }
    
}

.gallery__item {
    // flex-basis: calc(100%/3 - 16px);
    // margin-left: 16px;
    margin-top: 16px;
    width: 280px;
    height: 406px;
    
    background-color:yellowgreen;


    @media screen and (min-width: 768px) {
        flex-basis: calc(100%/3 - 16px);
        margin-left: 16px;
        margin-top: 28px;
        height: 325px;

        background-color: orange;
    }
    
    @media screen and (min-width: 1280px) {
        margin-top: 32px;
        height: 574px;
        
        background-color: red;
    }
}