.tui-pagination {
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 60px;
     }
   
  .tui-pagination .tui-page-btn {
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #B7B7B7;
    border: 1px solid #B7B7B7;
    font-family: 'roboto';
    margin-left: 16px;

    background-color: transparent;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
  
   .tui-pagination .tui-page-btn.tui-last {
    background-color:#000000;
    color: none;
  }
  .tui-pagination .tui-page-btn.tui-next {
    background-color: #000000;
  }
  .tui-pagination .tui-page-btn.tui-prev {
    background-color: #000000;
    text-decoration: none;
  }
  .tui-pagination .tui-page-btn.tui-first {
    background-color: #000000;
    color: #000000;
  }

  .tui-pagination .tui-is-selected {
    color: white;
    background: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
  }
  
  .tui-pagination .tui-is-disabled:hover {
    background: transparent;
    border: none;
  }

  .tui-pagination .tui-is-selected:hover,
  .tui-pagination .tui-is-selected:focus {
    background: #F5F5F5;
    color: #282828;
    border: none;
    outline: none;
  }
  
.tui-pagination .tui-first-child.tui-is-selected {
  border-left: none;
}

.tui-pagination .tui-last-child.tui-is-selected {
  border-right: none;
}

div.tui-pagination .tui-ico-next,
div.tui-pagination .tui-ico-last,
div.tui-pagination .tui-ico-prev,
div.tui-pagination .tui-ico-first,
div.tui-pagination .tui-ico-ellip {
  background-image: none;
}

div.tui-pagination .tui-page-btn.tui-next::after {
  content: '›';
  position: absolute;
  color: inherit;
  font-size: 25px;
  font-weight: 400;
}

div.tui-pagination .tui-page-btn.tui-last::after {
  content: '»';
  position: absolute;
  color: inherit;
  font-weight: 400;
  font-size: 25px;
}

div.tui-pagination .tui-page-btn.tui-prev::after {
  content: '‹';
  position: absolute;
  color: inherit;
  font-weight: 400;
  font-size: 25px;
}

div.tui-pagination .tui-page-btn.tui-first::after {
  content: '«';
  position: absolute;
  color: inherit;
  font-weight: 400;
  font-size: 25px;
}

div.tui-pagination .tui-prev-is-ellip::after,
div.tui-pagination .tui-next-is-ellip::after {
  content: '...';
  position: absolute;
  color: inherit;
  font-weight: 400;
  font-size: 20px;
  color:#F84119;
}