.section-upcoming {
  color: var(--secondary-dark-text-color);

  @media screen and (min-width: 768px) {
    padding-bottom: 17px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 0px;
  }
}
.section-upcoming.light-theme {
  color: var(--main-dark-color);
}
.upcoming-title {
  color: var(--main-light-color);
  margin-bottom: 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.17;
  }
  @media screen and (min-width: 1280px) {
    font-size: 28px;
    line-height: 1.18;
  }
}
.upcoming-title.light-theme {
  color: var(--main-dark-color);
}
.box {
  @media screen and (min-width: 1280px) {
    display: flex;
  }
}
.box-image {
  margin-bottom: 24px;
  width: 280px;
  height: 402px;

  @media screen and (min-width: 768px) {
    height: 400px;
    width: 704px;
    margin-bottom: 32px;
    object-fit: cover;
  }
  @media screen and (min-width: 1280px) {
    width: 805px;
    height: 458px;
    margin-bottom: 0px;
  }
}
.box-info {
  @media screen and (min-width: 768px) {
    max-width: 629px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 406px;
    margin-left: 16px;
  }
}
.upcoming-image {
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.upcoming__film-title {
  color: var(--main-light-color);
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;

  @media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 1.18;

    margin-bottom: 32px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 32px;
    line-height: 1.19;

    margin-bottom: 28px;
  }
}
.upcoming__film-title.light-theme {
  color: var(--main-dark-color);
}
.upcoming__film-info {
  display: flex;
  justify-content: space-between;

  margin-bottom: 20px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;

  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: space-between;

    padding-right: 129px;
  }
}
.upcoming__wrapper-info-value {
  @media screen and (min-width: 1280px) {
    max-width: 110px;
  }
}
.upcoming__information {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.upcoming__info-list {
  @media screen and (min-width: 768px) {
    margin: 0;
  }
}

.upcoming__info-item:not(:last-child) {
  margin-bottom: 12px;
}
.upcoming__info-value {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.upcoming__info-value:not(:last-child) {
  margin-bottom: 12px;
  text-transform: uppercase;
}
.upcoming__item-data {
  color: var(--accent-color);
}
.upcoming__info-vote {
  padding: 1px 8px 1px 8px;
  border-radius: 5px;
  background-color: var(--main-light-color);
  color: var(--main-dark-color);

  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  margin-right: 4px;

  @media screen and (min-width: 768px) {
    line-height: 1.14;
  }
}
.upcoming__info-votes {
  padding: 1px 4px 1px 4px;
  border-radius: 5px;
  background-color: var(--main-light-color);
  color: var(--main-dark-color);

  line-height: 1.14;

  text-align: center;
  text-transform: uppercase;

  margin-left: 4px;
}
.upcoming__info-votes.light-theme,
.upcoming__info-vote.light-theme {
  background-color: var(--main-light-text-color);
  color: var(--main-dark-text-color);
}
.popularity-value,
.ganre-value {
  color: var(--main-light-color);
}
.popularity-value.light-theme,
.ganre-value.light-theme {
  color: var(--main-dark-text-color);
}
.upcoming__about-title {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-transform: uppercase;
}
.upcoming__about-text {
  margin-bottom: 20px;

  line-height: 1.42;
}

.upcoming__about-text.light-theme {
  color: var(--main-dark-text-color);
}
.upcoming__light-theme.light-theme {
  color: var(--main-dark-color);
}
