.container-section, .header__container {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container-section, .header__container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container-section, .header__container {
    max-width: 1280px;
  }
}

.header {
  background-color: var(--header-bg-color);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__container {
    padding: 0 32px;
  }
}
.header__navigation {
  display: flex;
  align-items: center;
  gap: 82px;
}
@media screen and (min-width: 768px) {
  .header__navigation {
    gap: 65px;
  }
}
@media screen and (min-width: 1280px) {
  .header__navigation {
    gap: 300px;
  }
}

.logo__image {
  width: 32px;
  height: 32px;
}
@media screen and (min-width: 768px) {
  .logo__image {
    width: 48px;
    height: 48px;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
.logo__text {
  display: none;
}
@media screen and (min-width: 768px) {
  .logo__text {
    display: inline;
    font-size: 24px;
    line-height: 1.16;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--main-light-color);
  }
}

.nav-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    gap: 32px;
  }
  .nav-list__item a {
    font-weight: 500;
    line-height: 1.14;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    /* Grey */
    color: var(--secondary-dark-text-color);
    transition: color 200ms ease-in-out;
  }
  .nav-list__item a:hover {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .nav-list__item a {
    padding: 22px 0;
  }
}
@media screen and (min-width: 1280px) {
  .nav-list {
    gap: 40px;
  }
}

.navModal-button {
  padding: 16px 0;
  color: inherit;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  color: var(--secondary-dark-text-color);
}
@media screen and (min-width: 768px) {
  .navModal-button {
    display: none;
  }
}

.header.light-theme {
  background-color: var(--main-light-color);
}

.logo__text.light-theme {
  color: var(--header-bg-color);
}

.nav-list.light-theme a {
  color: var(--secondary-light-text-color);
}

.navModal-button.light-theme {
  color: var(--secondary-light-text-color);
}

.weekly-trends {
  padding-top: 40px;
  padding-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .weekly-trends {
    padding-top: 52px;
    padding-top: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .weekly-trends {
    padding-top: 80px;
    padding-top: 60px;
  }
}

.title-grup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .title-grup {
    margin-bottom: 24px;
  }
}

.title-grup__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .title-grup__link {
    font-size: 24px;
    line-height: 1.18;
  }
}
@media screen and (min-width: 1280px) {
  .title-grup__link {
    font-size: 28px;
  }
}

.title-grup__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-transform: uppercase;
  color: var(--main-light-color);
}
@media screen and (min-width: 768px) {
  .title-grup__name {
    font-size: 24px;
    line-height: 1.18;
  }
}
@media screen and (min-width: 1280px) {
  .title-grup__name {
    font-size: 28px;
  }
}

.films-list {
  flex-wrap: wrap;
}

.section-upcoming {
  color: var(--secondary-dark-text-color);
}
@media screen and (min-width: 768px) {
  .section-upcoming {
    padding-bottom: 17px;
  }
}
@media screen and (min-width: 1280px) {
  .section-upcoming {
    padding-bottom: 0px;
  }
}

.section-upcoming.light-theme {
  color: var(--main-dark-color);
}

.upcoming-title {
  color: var(--main-light-color);
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .upcoming-title {
    font-size: 24px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1280px) {
  .upcoming-title {
    font-size: 28px;
    line-height: 1.18;
  }
}

.upcoming-title.light-theme {
  color: var(--main-dark-color);
}

@media screen and (min-width: 1280px) {
  .box {
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .box-image {
    height: 458px;
  }
}

@media screen and (min-width: 768px) {
  .box-info {
    max-width: 629px;
  }
}
@media screen and (min-width: 1280px) {
  .box-info {
    max-width: 406px;
    margin-left: 16px;
  }
}

.upcoming-image {
  border-radius: 5px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .upcoming-image {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .upcoming-image {
    height: 100%;
    margin-bottom: 0px;
  }
}

.upcoming__film-title {
  color: var(--main-light-color);
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
}
@media screen and (min-width: 768px) {
  .upcoming__film-title {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .upcoming__film-title {
    font-size: 32px;
    line-height: 1.19;
    margin-bottom: 28px;
  }
}

.upcoming__film-title.light-theme {
  color: var(--main-dark-color);
}

.upcoming__film-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
}
@media screen and (min-width: 768px) {
  .upcoming__film-info {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .upcoming__film-info {
    display: flex;
    justify-content: space-between;
    padding-right: 129px;
  }
}

@media screen and (min-width: 1280px) {
  .upcoming__wrapper-info-value {
    max-width: 110px;
  }
}

.upcoming__information {
  display: none;
}
@media screen and (min-width: 768px) {
  .upcoming__information {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .upcoming__information {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .upcoming__info-list {
    margin: 0;
  }
}

.upcoming__info-item:not(:last-child) {
  margin-bottom: 12px;
}

.upcoming__info-value {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.upcoming__info-value:not(:last-child) {
  margin-bottom: 12px;
  text-transform: uppercase;
}

.upcoming__item-data {
  color: var(--accent-color);
}

.upcoming__info-vote {
  padding: 1px 8px 1px 8px;
  border-radius: 5px;
  background-color: var(--main-light-color);
  color: var(--main-dark-color);
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  margin-right: 4px;
}
@media screen and (min-width: 768px) {
  .upcoming__info-vote {
    font-size: 14px;
    line-height: 1.14;
  }
}

.upcoming__info-votes {
  padding: 1px 4px 1px 4px;
  border-radius: 5px;
  background-color: var(--main-light-color);
  color: var(--main-dark-color);
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  margin-left: 4px;
}

.upcoming__info-votes.light-theme,
.upcoming__info-vote.light-theme {
  background-color: var(--main-light-text-color);
  color: var(--main-dark-text-color);
}

.popularity-value,
.ganre-value {
  color: var(--main-light-color);
}

.popularity-value.light-theme,
.ganre-value.light-theme {
  color: var(--main-dark-text-color);
}

.upcoming__about-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-transform: uppercase;
}

.upcoming__about-text {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.42;
}

.upcoming__about-text.light-theme {
  color: var(--main-dark-text-color);
}

.upcoming__light-theme.light-theme {
  color: var(--main-dark-color);
}

.catalog {
  padding-top: 20px;
  padding-bottom: 20px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .search-form {
    margin-bottom: 36px;
  }
}

.search-form__input {
  width: 224px;
  height: 40px;
  font-weight: 500;
  line-height: 1.14;
  margin-right: 16px;
  padding: 10px 20px;
  background-color: var(--main-dark-color);
  color: var(--secondary-dark-text-color);
  border: 1px solid var(--main-light-color);
  border-radius: 8px;
  outline: none;
}
@media screen and (min-width: 768px) {
  .search-form__input {
    height: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .search-form__input {
    width: 334px;
    height: 48px;
  }
}

.search-form__input.light-theme {
  border: 1px solid var(--secondary-light-text-color);
  background-color: var(--main-light-color);
  color: var(--secondary-light-text-color);
}

.btn-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-search:hover .search-form__icon {
  fill: var(--accent-color);
}

.search-form__icon {
  width: 18px;
  height: 18px;
  stroke: none;
  fill: var(--main-light-color);
}
@media screen and (min-width: 1280px) {
  .search-form__icon {
    width: 20px;
    height: 20px;
  }
}

.search-form__icon.light-theme {
  fill: var(--main-dark-color);
}

.movie-gallery__message {
  text-align: center;
  margin-top: 48px;
  color: var(--main-light-color);
  font-size: 20px;
  line-height: 1.4;
}
@media screen and (min-width: 768px) {
  .movie-gallery__message {
    font-size: 24px;
    line-height: 1.33;
  }
}
@media screen and (min-width: 1280px) {
  .movie-gallery__message {
    font-size: 32px;
    line-height: 1.12;
  }
}

.movie-gallery__message.light-theme {
  color: var(--main-dark-color);
}

.my-library {
  padding-top: 44px;
}
@media screen and (min-width: 768px) {
  .my-library {
    padding-top: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .my-library {
    padding-top: 117px;
  }
}

.my-library__message {
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: var(--main-light-color);
}
@media screen and (min-width: 768px) {
  .my-library__message {
    font-size: 24px;
    line-height: 1.33;
  }
}
@media screen and (min-width: 1280px) {
  .my-library__message {
    font-size: 32px;
    line-height: 1.12;
  }
}

.my-library__message--light {
  color: var(--main-dark-color);
}

.btn-library {
  display: block;
  margin: 0 auto;
}

.library-isHidden {
  display: none;
  visibility: hidden;
}

.footer__container {
  justify-content: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  min-height: 100px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 28px;
  padding-top: 40px;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    padding-bottom: 40px;
    padding-top: 60px;
    margin: 0px auto;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container {
    padding-bottom: 80px;
    padding-top: 100px;
    margin: 0px auto;
  }
}

.footer__text,
.footer__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.14;
  color: var(--secondary-dark-text-color);
  background-color: var(--main-dark-color);
}

.footer__text {
  display: flex;
}

.footer__block {
  display: flex;
  align-items: center;
}

.footer__item {
  border: none;
  text-decoration: underline;
}

.footer__icon {
  margin-left: 10px;
  margin-right: 10px;
}/*# sourceMappingURL=index.css.map */